{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Manage Pertandingan</title>
    <link rel="stylesheet" href="{% static 'css/peminjaman_stadium.css' %}">
    {% include 'navbar/navbar-panitia.html' %}
{% endblock meta %}

{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4">
                    <h2 class="fw-bold mb-2 text-uppercase">List Pertandingan</h2>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th colspan="5">Peristiwa Tim [Nama Tim]</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Grup</td>
                              <td>Tim</td>
                              <td>Waktu</td>
                              <td>Pemenang</td>
                              <td>Action</td>
                            </tr>
                            <tr>
                              <td rowspan="2">A</td>
                              <td>UI FC VS UGM FC</td>
                              <td>1 Mei 2023</td>
                              <td>UGM FC</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>ITB FC VS BINUS FC</td>
                              <td>3 Mei 2023</td>
                              <td>BINUS FC</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td rowspan="3">B</td>
                              <td>UNAIR FC VS UNDIP FC</td>
                              <td>5 Mei 2023</td>
                              <td>-</td>
                              <td>Belum Waktunya</td>
                            </tr>
                            <tr>
                              <td>UNPAD FC VS ITS FC</td>
                              <td>7 Mei 2023</td>
                              <td>-</td>
                              <td>Belum Waktunya</td>
                            </tr>
                            <tr>
                              <td>UB FC VS UPH FC</td>
                              <td>9 Mei 2023</td>
                              <td>-</td>
                              <td>Belum Waktunya</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  {% include 'footer.html' %}
  {% endblock content %}